

/* Resize M2M filter_horizontal */
.selector {width: 420px;}

.selector select {
    min-height: 5em;
    max-height: 5em;
    width: 15em;
}

.selector-chosen select {
    min-height: 8.1em;
    max-height: 8.1em;
    width: 15em;
}


.selector .selector-available input {
    width: 11em;
}
/* END Resizing M2M filter_horizontal */



/* Save space in TabularInline */
.inline-group .tabular tr td[class^="field-"] {
    padding-left: 0.1rem;
    padding-top: 1rem;
}


/* p label[for^="id_[a-zA-Z]names-"] {display: none;} */

td.original p {
    display: none;
}

.inline-group thead th.column-isarchaic {
    writing-mode: vertical-rl;
    padding: 4px 0px;
}

.inline-group thead th {
    vertical-align: bottom;
    padding: 4px;
}