


/* Save space in TabularInline */
.inline-group .tabular tr td[class^="field-"] {
    padding-left: 0.1rem;
    padding-top: 1rem;
}


/* p label[for^="id_[a-zA-Z]names-"] {display: none;} */

td.original p {
    display: none;
}

.inline-group thead th.column-isarchaic {
    writing-mode: vertical-rl;
    padding: 4px 0px;
}

.inline-group thead th {
    vertical-align: bottom;
    padding: 4px;
}